body {
  overflow: visible;
}

.animal-register-container {
  background-color: $color-primary;
  height: 100%;
  padding-bottom: 120px;

  .title {
    margin: 0 0 70px 0;
    font-size: 60px;
    font-weight: $bold;
    padding-top: 70px;
    text-align: center;
    color: rgba(24, 24, 24, 0.7);
  }
}

.animal-register-form {
  @include form;
  margin: auto;

  .animal-register-button {
    @include button($gray_btn, $black, 20px, 700);
    @include flex-center-center;

    margin-top: 30px;
  }

  .animal-register-button:hover {
    @include button-hover($color-secondary, $white_font);

    margin: 30px 0 0 0;
  }

  div>label.active {
    @include label-focus;
  }
}

.img-container {
  height: 450px;
  border: 4px dashed rgba(24, 24, 24, 0.2);
  margin-bottom: 90px;
  position: relative;
  overflow: hidden;

  .img-label {
    font-size: 18px;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
  }

  .img-input {
    display: block;
    width: 780px;
    height: 450px;
    top: 0;
    position: absolute;
    opacity: 0;
    z-index: 99;
  }

  .img-icon {
    padding: 30px;
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
  }
}

.name-container {
  @include input-container;

  .name-label {
    @include label;
  }

  .name-input {
    @include input;
    color: rgba(0, 0, 0, 0.6);

  }
}

.death-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;

  .death-label {
    position: absolute;
    font-size: 15px;
    top: -25px;
    left: 5px;
    color: rgba(0, 0, 0, 0.4);
  }

  .death-input {
    @include input;

    color: rgba(0, 0, 0, 0.6);
  }
}

.favorite-1st-container,
.favorite-2nd-container,
.favorite-3rd-container {
  @include input-container;

  .favorit-1st-label,
  .favorit-2nd-label,
  .favorit-3rd-label {
    @include label;
  }

  .favorit-1st-input,
  .favorit-2nd-input,
  .favorit-3rd-input {
    @include input;
    color: rgba(0, 0, 0, 0.6);
  }
}

.foot-1st {
  @include foot(-100px, 40px, 8.71deg);
}

.foot-2nd {
  @include foot(-300px, 100px, -24.84deg);
}

.foot-3rd {
  @include foot(-550px, 140px, 6.43deg);
}