.header {
  @include flex(space-between, center, row, nowrap);
  background-color: $color-secondary;
  color: $white_font;
  padding: 10px 50px;

  .slogan {
    font-size: 20px;
    font-weight: $medium;
    margin: 10px;
  }

  .logo>img {
      width: 50px;
  }
  
  .menu {
    @include flex(center, center, row, nowrap);

    li {
      margin-left: 10px;
      padding: 10px;
      text-decoration: none;
      outline: none;
      color: $white_font;
    }
  }
}
