.header {
  @include flex(space-between, center, row, nowrap);
  background-color: $red;
  color: $white_font;
  padding: 10px 50px;
  
  .brand {
    font-size: 20px;
    font-weight: $medium;
    margin: 10px;
  }
  
  .menu {
    @include flex(center, center, row, nowrap);

    a {
      margin-left: 10px;
      padding: 10px;
      text-decoration: none; 
      outline: none;
      color: $white_font;
    }
  }
}
