body {
  overflow: hidden;
}
// component
.landing-container {
  @include flex-center-center;
  background-color: $color-primary;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 89vh;

  .landing-title,
  .landing-subtitle {
    font-family: 'Iropke Batang', serif;
    width: 800px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .landing-title {
    font-weight: $extra-bold;
    font-size: 32px;
  }
  .landing-subtitle {
    font-weight: $bold;
    font-size: 24px;
  }
  .landing-links {
    @include flex-center-center;
    justify-content: flex-start;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;

    .signin-btn,
    .signup-btn {
      @include button($color-secondary, $white_font, 20px, 700);
      margin: 0;
      display: block;
      text-align: center;
    }
    .signin-btn {
      margin-right: 20px;
    }
    .signin-btn:hover,
    .signup-btn:hover {
      @include button-hover($black, $white_font);
    }
  }
}

.site-title {
  background-color: $color-primary;
  margin: 0;
  padding: 20px;
}
