.login-container,
.register-container {
  @include flex-center-center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #ffe5b3;

  .form-field {
    margin-bottom: 60px;
  }

  .login-form,
  .register-form {
    @include form;
    margin-top: 40px;
    box-sizing: border-box;
    position: relative;
    .form-field {
      position: relative;
    }
    .username,
    .password,
    .email {
      line-height: 40px;
      padding-left: 20px;
      @include input;
    }

    label {
      @include label;
    }

    div > label.active {
      @include label-focus;
    }

    .login-btn,
    .register-btn {
      @include button(#eaeaea, #000000, 24, 400);
    }

    .login-btn:hover,
    .register-btn:hover {
      @include button-hover($color-secondary, $white_font)
    }

    // .error-message {
    //   @include validation-text;

    //   font-size: 18px;
    //   left: 100px;
    //   bottom: 130px;
    // }

    .error-message-email {
      @include validation-text;

      top: 120px;
      left: 100px;
    }

    .error-message-pw {
      @include validation-text;

      top: 230px;
      left: 100px;
    }

  }
  .title-group {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100px;
  }
  .login-title,
  .register-title {
    border: 0;
    border-right: 1px solid;
    padding: 0 40px;
    font-weight: 900;
    font-size: 64px;
    margin: 0;
    margin-top: 10px;
    background: transparent;
  }
  .register-title {
    border-right: 0;
  }
  .login-active {
    color: #7f4b4f;
  }
}
