.login-container,
.register-container {
  @include flex-center-center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #ffe5b3;

  .login-form,
  .register-form {
    @include form;
    margin-top: 40px;
    box-sizing: border-box;
    .form-field {
      position: relative;
    }
    .username,
    .password,
    .email {
      line-height: 40px;
      padding-left: 20px;
      @include input;
    }
    .error-message {
      display: block;
      padding: 15px 10px;
      color: red;
      font-weight: bold;
    }
    label {
      @include label;
    }

    div > label.active {
      @include label-focus;
    }

    .login-btn,
    .register-btn {
      @include button(#eaeaea, #000000, 24, 400);
      margin-top: 40px;
    }
  }
  .title-group {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100px;
  }
  .login-title,
  .register-title {
    border: 0;
    border-right: 1px solid;
    padding: 0 40px;
    font-weight: 900;
    font-size: 64px;
    margin: 0;
    margin-top: 10px;
    background: transparent;
  }
  .register-title {
    border-right: 0;
  }
  .login-active {
    color: #7f4b4f;
  }
}
