// font-weight
$medium: 500;
$bold: 700;
$extra-bold: 900;

// color variable
$color-primary: #FFE5B3;
$color-secondary: #7F4B4F;
$black: #181818;
$gray_btn: #EAEAEA;
$gray_background: #F3F3F3;
$white_font: #FFFCF9;
$white_background: #FFFFFF;